<link rel="stylesheet" href="/css/left-nav.css" />
<link rel="stylesheet" href="/css/user/left-nav.css" />

<div class="left-navBar">
	<div class="main-category">
		<ul class="label-list-ul">
			<li><img class="leftNav-label-img" alt="메모아이콘"
					src="/image/memo/label/labelicon.png"/><a href="/users/update" class="leftNav-a left-link link-update">정보수정</a></li>
			<li><img class="leftNav-label-img" alt="메모아이콘"
					src="/image/memo/label/labelicon.png"/><a  href="/users/friend" class="leftNav-a left-link link-friend">친구추가</a></li>
			<li><img class="leftNav-label-img" alt="메모아이콘"
					src="/image/memo/label/labelicon.png"/><a  href="/users/friendRequest" class="leftNav-a left-link link-friendRequest">친구요청관리</a></li>
		</ul>

	</div>
</div>

