<link rel="stylesheet" href="/css/content-nav.css" />

<div class="content-nav">

{{#loginUser}}
	<div class="content-nav-header">
		<ul>
			<li class="menu-btn" >
			<a href="#"><img class="hambuger" alt="햄버거버튼"	src="/image/content/hambuger.png"></a>
			</li>
			<li>
			<input class="input-search" type="text" placeholder="검색하세요." />
			</li>
			<li class="margin-0 menu-btn" >
			<a href="#"><img class="search" alt="검색"	src="/image/content/search.png"></a>
			</li>
			<li>
			{{#click_memo}}
			<span>전체 메모</span>
			<span class="bar"></span>
			<span class="memo-count">{{memoCount}}</span>
			{{/click_memo}}
			{{#click_link}}
			<span>전체 링크</span>
			<span class="bar"></span>
			<span class="memo-count">{{linkCount}}</span>
			{{/click_link}}
			</li>
		</ul>
	</div>
		{{/loginUser}}
	<div class="content-nav-function">
		<ul>
			<li><a href="#"><input type="radio"/></a></li>
			<li><a href="#">삭제</a></li>
		</ul>
		<ul>
			<li><button class="backup-btn">원래대로</button></li>
			<li><button class="save-btn">저장</button></li>
		</ul>
	</div>

</div>