<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>모두의 두모</title>
<link rel="stylesheet" href="/css/login.css" />
<link rel="stylesheet" href="/css/user/update.css" />
<script src="/js/link/handlebars-v4.0.11.js"></script>
<script src="/js/jquery-2.2.0.min.js"></script>
</head>
<body>

	{{#loginUser}} {{> include/header}} {{> include/user/leftNav}}


	<div class="login-container">
		<div class="update-title">
			<span>FRIEND</span>
		</div>

		<div class=" m-l-18per serach-bar-width">
			<input class="user-search bd-1-s" type="text" name="userId" /> <a
				class="search-btn" href="/api/users/search"><img class="search"
				alt="search" src="/image/content/search.png"></a>
		</div>
		<div class="search-friend-div"></div>
	</div>

	<div class="seperate"></div>

	<div class="friend-request-container">
		<div class="update-title">
			<span>내가 보낸 요청</span>
		</div>
		<div class="send-frined-request-wrap">
			{{#friendRequests}}
			<div class="send-friend-request-div">
				<ul>
					<li>아이디 {{receiver.userId}}</li>
					<li>닉네임 {{receiver.name}}</li>
					<li>요청날짜 {{formattedCreateDate}}</li>
					<li><a class="cancel-request" href="/api/relations/cancel/{{id}}">취소</a></li>
				</ul>
			</div>
			{{/friendRequests}}
		</div>
	</div>

	{{> include/user/rightNav}} {{/loginUser}}
	<script type="text/x-handlebars-template" id="searchUser-template">
<div class="search-area">
			<img  class="search-img" alt="프로필"
				src="/upload/\{{saveFileName}}"/>
			<span class="search-id">\{{userId}}</span>
			<span class="search-id">\{{name}}</span>
			<input type="hidden" class="userId" value="\{{id}}"/>
			<a href="/api/relations/request" class="addFriend-btn addFriend-icon">+</a>
</div>
</script>
	<script type="text/x-handlebars-template" id="searchFail-template">
<div class="search-area">
			<span class="search-id">존재하지 않는 사용자입니다.</span>
</div>
</script>
	<script type="text/x-handlebars-template" id="sendRequestFriend-template">
<div class="send-friend-request-div">
				<ul>
					<li>아이디 \{{receiverId}}</li>
					<li>닉네임 \{{receiverName}}</li>
					<li>요청날짜 \{{createDate}}</li>
					<li>요청중</>
				</ul>
			</div>
</script>


	<script src="/js/user/friend.js"></script>
</body>
</html>