<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>모두의 두모</title>
<link rel="stylesheet" href="/css/login.css" />
<link rel="stylesheet" href="/css/user/update.css" />
<script src="/js/link/handlebars-v4.0.11.js"></script>
<script src="/js/jquery-2.2.0.min.js"></script>
</head>
<body>

	{{#loginUser}} {{> include/header}} {{> include/user/leftNav}}


		<div class="login-container">
		<div class="update-title">
			<span>내가 보낸 요청</span>
		</div>
		<div class="send-frined-request-wrap">
			{{#friendRequests}}
			<div class="send-friend-request-div">
				<ul>
					<li>아이디 {{receiver.userId}}</li>
					<li>닉네임 {{receiver.name}}</li>
					<li>요청날짜 {{formattedCreateDate}}</li>
					<li><a class="cancel-request" href="/api/relations/cancel/{{id}}">취소</a></li>
				</ul>
			</div>
			{{/friendRequests}}
		</div>
	</div>

	<div class="friend-request-container">
		<div class="update-title">
			<span>내가 받은 요청</span>
		</div>
		<div class="send-frined-request-wrap">
			{{#friendRequested}}
			<div class="send-friend-request-div">
				<ul>
					<li>아이디 {{sender.userId}}</li>
					<li>닉네임 {{sender.name}}</li>
					<li>요청날짜 {{formattedCreateDate}}</li>
					<li><a class="accept-request" href="/api/relations/accept">수락</a></li>
					<li><a class="cancel-request" href="/api/relations/cancel/{{id}}">거절</a></li>
					<li><input class="requestId" type="hidden" value="{{id}}"/></li>
					<li><input class="senderId" type="hidden" value="{{sender.id}}"/></li>
				</ul>
			</div>
			{{/friendRequested}}
		</div>
	</div>
	{{> include/user/rightNav}} {{/loginUser}}

<script type="text/x-handlebars-template" id="friendList-template">
	<li>
			<div class="user-list-li">
			<img class="user-list-img" alt="메모아이콘"
					src="#"/><a href="#" class="leftNav-a left-link link-update">\{{friendId}}(\{{friendName}})</a>
			</div>		
	</li>
</script>

	<script src="/js/user/friendRequest.js"></script>
</body>
</html>