@charset "UTF-8";

body {
	font-family: 돋움, Dotum, Helvetica, sans-serif, "Apple SD Gothic Neo";
	font-size: 12px;
	overflow:hidden;
	margin-top: 55px;
}

.container {
    float: left;
    margin-top: 8%;
    margin-left: 13%;
    /* background-color: gray; */
    /* height: 1000px; */
    width: 87%;
    height: 1000px;
    background-color: #ededed;
}
}