@charset "UTF-8";

.left-navBar {
	z-index: 9;
	width: 13%;
	height: 100%;
	position: fixed;
	background: white;
	/* color: white; */
	border-right: 1px solid #bdbdbd;
	border-bottom: 1px solid #bdbdbd;
	overflow: hidden;
	/* float: left; */
	/* box-shadow: 0px 2px 2px 1px grey; */
}

.write-memo-btn-div {
	height: 65px;
	border-bottom: 1px solid #bdbdbd;
}

.write-memo-btn {
	text-decoration: none;
	color: white;
	background-color: #00c7ab;
	width: 200px;
	height: 35px;
	line-height: 35px;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	/* color: black; */
	margin-left: 10%;
	margin-top: 7%;
}

.write-link-btn {
	text-decoration: none;
	color: white;
	background-color: #00c7ab;
	width: 200px;
	height: 35px;
	line-height: 35px;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	/* color: black; */
	margin-left: 10%;
	margin-top: 7%;
}

a.left-link {
	text-decoration: none;
	color: black;
	font-size: 13px;
}

.main-category{
	border-bottom: 1px solid #bdbdbd;
    height: 280px;
}

.main-category ul li{
	height: 40px;
	cursor: pointer;
}
/* .main-category ul li:first-child{
	margin-left:15px;
	height: 50px;
    border-bottom: 1px solid #bdbdbd;
} */

.main-category ul li:first-child input[type=text]{
	font-weight: bold;
}
.main-category ul li input[type=text]{
	width: 140px;
}


.leftNav-a{
	    display: inline-block;
    position: relative;
    text-decoration: none;
    bottom: 23px;
    color: black;
    font-size: 13px;
}

.leftNav-click-img{
		width: 55px;
/* 	filter: opacity(15%); */
	margin-top: 2%;
}

.leftNav-label-img{
			width: 55px;
}

.make-label-div{
	position: relative;
    /* display: inline-block; */
    bottom: 5px;
        border-bottom: 1px solid #bdbdbd;
    
}
.make-label : hover{
 font-weight: bold;    
}



.label-title{
	position: relative;
    bottom: 45px;
}

.label-list-ul{
	    margin-top: 10%;
}


.one-label input[type=text]{
	border: none;
}

.label-delete{
	bottom: 40px;
    /* top: 0px; */
    display: inline-block;
    bottom: 30x;
    position: relative;
    visibility: hidden;
}

.label-delete-img{
		width: 25px;
	
}
