
.link-main{
	position: absolute;
	border: 1px solid black;
	width: 1660px;
	margin-left: 13%;
	/* top: 60px; */
	background-color: #e0e0e0;
	/* top: 161px; */
	height: 780px;
	margin-left: 255px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: 105px;
}

.one-link{
	float: left;
	width: 270px;
    height: 330px;
    border: 1px solid black;
    margin-left: 2%;
    background-color: beige;
    margin-top: 1%;
        cursor: move;
}

.link-thumnail-img{
position: relative;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    top: -2px;
}

.link-title{
	 border: none;
    border-bottom: 1px solid black;
    width: 100%;
    color: white;
    height: 40px;
    font-size: 14pt;
/*     font-size: 15pt; */
    background-color: #00c7ab;
}
.link-info{
	    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    color: black;
    font-size: 13pt;
    background-color: white;
}

.link-time{
position: relative;
    top: -11%;
    left: 20%;
}


.link-delete {
    position: relative;
    /* right: -6px; */
    /* left: 282px; */
    left: -2%;
    top: -4%;
    text-decoration: none;
        /* visibility: hidden; */
}

.link-delete-img {
	width: 55px;
	visibility: hidden;
}

.link-cursor-img {
position: relative;
    width: 25px;
    left: 5px;
    top: -27px;
    text-decoration: none;
    visibility: visible;
}

.link-textarea{
margin: 0px;
    width: 264px;
    height: 40px;
    resize: none;
    font-size: 16px;
    border: none;
}