<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>모두의 두모</title>
<link rel="stylesheet" href="/css/login.css" />
	<script src="/js/jquery-2.2.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
</head>
<body>


	{{#loginUser}}
	{{> include/header}} 
	{{> include/leftNav}} 
	{{> include/contentNav}}
	{{/loginUser}}


	<div class="content-main">
		{{#label}}
		{{#memos}}
		<div class="one-memo">
			<input class="memo-title" type="text" value="{{title}}" />
			<img class="memo-cursor-img" alt="메모아이콘"
					src="/image/content/drag.png">
			<a href="/api/memo/{{id}}" class="memo-delete"><img class="memo-delete-img" alt="메모아이콘"
					src="/image/content/trash.png"></a>
			<input class="memo-id" type="hidden" name="id" value="{{id}}"/>
			<textarea class="memo-textarea">{{content}}</textarea>
			<input class="memo-checkbox" type="checkbox"/>
			<span class="memo-time">{{formattedModifiedDate}}</span>
		</div>
		{{/memos}}
		{{/label}}
		
	</div>

	
	<script type="text/template" id="memoTemplate">
<div class="one-memo">
			<input class="memo-title" type="text" value="{1}" />
			<img class="memo-cursor-img" alt="메모아이콘"
					src="/image/content/drag.png">
			<a href="/api/memo/{0}" class="memo-delete" href="api/memo"><img class="memo-delete-img" alt="메모아이콘"
					src="/image/content/trash.png"></a>
			<input class="memo-id" type="hidden" name="id" value="{0}"/>
			<textarea class="memo-textarea">{2}</textarea>
			<input class="memo-checkbox" type="checkbox"/>
			<span class="memo-time">{3}</span>
		</div>
</script>


<script type="text/template" id="labelTemplate">
	<li>
		<div class="one-label">
		<a href="/memo/list/{0}" class="leftNav-a left-link link-memo">
		<img class="leftNav-label-img" alt="메모아이콘"
					src="/image/memo/label/labelicon.png"/>
		</a>
		<input class="label-action" type="hidden"  value="/api/labels/{0}"/>
		<input class="label-title" type="text" name="title" value="{1}"/>
		<a href="/api/labels/{{id}}" class="label-delete"><img class="label-delete-img" alt="메모아이콘"
					src="/image/memo/label/labeldelete.png"></a>			
		</div>
		</li>
</script>


	<script src="/js/memo/memo.js"></script>
	<script src="/js/memo/label.js"></script>

</body>
</html>